* {
  box-sizing: border-box;
  border: 1px solid blue;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 50%;
  grid-template-rows: 70%;
  place-content: center;
}

.game-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: repeat(6, 6fr);
  /* grid-template-columns: repeat(6, 6fr); */
}

.game-grid > div {
  display: grid;
  grid-column: span 6;
  grid-template-columns: repeat(6, 6fr);
}

.game-grid > div > div {
  display: grid;
  grid-column: span 1;
  font-size: 1.5rem;
  color: whitesmoke;
  place-items: center;
}

.bomb {
  background-color: red;
}

.safe {
  background-color: green;
}

.unknown {
  background-color: yellow;
}

.clicked {
  background-color: blue;
}
.flag {
  background-color: blueviolet;
}
